{% extends "layout.html" %}

{% block content %}


<address>
    <strong>Who Run The World Team</strong><br />
    UCI Continuing Education Division <br/>
    Irvine, 92648<br />
</address>

<address>
    <strong>Azure ML, HTML:</strong>   <a href="mailto:mafgliane@gmail.com">mafgliane@gmail.com</a><br />
    <br><img src="./static/images/frances.png">
    <a href="https://www.linkedin.com/in/frances-gliane-8111056b/">Frances' LinkedIn</a><br />
    <hr>
    <strong>Azure ML, HTML:</strong>   <a href="mailto:eugenia.grigoryeva@gmail.com">eugenia.grigoryeva@gmail.com</a><br />
    <br><img src="./static/images/evgenia.png">
    <a href="http://linkedin.com/in/eugenia-grigoryeva-5664912">Eugenia's LinkedIn</a><br />
    <hr>
    <strong>Flask, HTML:</strong> <a href="mailto:paulaurteaga@opendeusto.es">paulaurteaga@opendeusto.es</a><br />
    <br><img src="./static/images/paula.png">
    <br />
    <hr>
    <strong>Visualization, HTML:</strong> <a href="mailto:adavalos@cambro.com">adavalos@cambro.com</a>
    <br><img src="./static/images/ana.png">
    <a href="https://www.linkedin.com/in/ana-davalos-231b1734">Ana's LinkedIn</a>
</address>

{% endblock %}
