{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Who run the World Team<br />
    UCI Continuing Education Division <br/>
    Irvine, 92648<br />
</address>

<address>
    <strong>Azule ML:</strong>   <a href="mailto:mafgliane@gmail.com">mafgliane@gmail.com</a><br />
    <strong>Flask:</strong> <a href="mailto:paulaurteaga@opendeusto.es">paulaurteaga@opendeusto.es</a><br />
    <strong>Modeling:</strong> <a href="mailto:eugenia.grigoryeva@gmail.com">eugenia.grigoryeva@gmail.com</a><br />
    <strong>Visualization:</strong> <a href="mailto:adavalos@cambro.com">adavalos@cambro.com</a>
</address>

{% endblock %}
